<!DOCTYPE html>
<html>
  <body>
    <form action="../presenter/Add.php" method="post">
      NIK : <input type="text" name="nik" /><br />
      Nama : <input type="text" name="nama" /><br />
      Tempat : <input type="text" name="tempat" /><br />
      Tanggal : <input type="text" name="tl" /><br />
      Gender : <input type="text" name="gender" /><br />
      Email : <input type="text" name="email" /><br />
      Telepon : <input type="text" name="telepon" /><br />
      <input type="submit" />
    </form>
  </body>
</html>
